@import '../../styles/settings.scss';

.cardForm {
  display: flex;
  
  & > * {
    padding: 10px;
  }
  label {
    margin: 0 0 12px 0;
  }
}

@media (max-width: 767px) {
  .cardForm {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin: 0 0 $base-size 0;

    label {
      margin: 0;
    }
  }
}